.bg-blue{
    background-color:#37517e;
}

.img-size{
    width: 100%;
}

.box h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.box p{
    color:rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size:22px;
}

.brandimg{
    width: 50%;
    /* filter: invert(70%);
     */
     filter: brightness(0);
     
}

.brandimg:hover{
    /* filter: invert(0); */
    filter: brightness(100%);
    
}