.col-lg-12 h1{
    color: rgba(40, 58, 90, 0.9) ;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

.col-lg-12 p{
    font-weight: 400;
    font-size: 15px;

}

.card-body h5{
    color: rgba(40, 58, 90, 0.9) ;
    font-weight: 700;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 10px 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }